#new-container.container
  %form{:action => "/posts", :method => "post"}
    .form-group.mt-4
      %h1.osusume.text-white.bg-dark.mt-5.mb-5.pl-3 オススメしたいゲームを入力してください
      %h3.col-sm-5.text-white.bg-dark.mt-5.mb-3 ジャンルを選んで下さい
      .form-check.form-check-inline
        %input#genre_1.form-check-input{:name => "genre_id", :type => "radio", :value => "1"}/
        %label.form-check-label.text-white.bg-dark{:for => "genre_1"} アクション
      .form-check.form-check-inline
        %input#genre_2.form-check-input{:name => "genre_id", :type => "radio", :value => "2"}/
        %label.form-check-label.text-white.bg-dark{:for => "genre_2"} シューティング
      .form-check.form-check-inline
        %input#genre_3.form-check-input{:name => "genre_id", :type => "radio", :value => "3"}/
        %label.form-check-label.text-white.bg-dark{:for => "genre_3"} RPG
      .form-check.form-check-inline
        %input#genre_4.form-check-input{:name => "genre_id", :type => "radio", :value => "4"}/
        %label.form-check-label.text-white.bg-dark{:for => "genre_4"} シミュレーション
      .form-check.form-check-inline
        %input#genre_5.form-check-input{:name => "genre_id", :type => "radio", :value => "5"}/
        %label.form-check-label.text-white.bg-dark{:for => "genre_5"} アドベンチャー
      .form-check.form-check-inline
        %input#genre_6.form-check-input{:name => "genre_id", :type => "radio", :value => "6"}/
        %label.form-check-label.text-white.bg-dark{:for => "genre_6"} パズル
      .form-group
        %h3.col-sm-5.text-white.bg-dark.mt-5.mb-3 機種を選んで下さい（複数可）
        .form-check.text-white.bg-dark.form-check-inline
          %input#inlineCheckbox1.form-check-input{:name => "tag_id[]", :type => "checkbox", :value => "1"}/
          %label.form-check-label{:for => "inlineCheckbox1"} プレイステーション
        .form-check.form-check-inline
          %input#inlineCheckbox2.form-check-input{:name => "tag_id[]", :type => "checkbox", :value => "2"}/
          %label.form-check-label{:for => "inlineCheckbox2"} プレイステーション2
        .form-check.form-check-inline
          %input#inlineCheckbox3.form-check-input{:name => "tag_id[]", :type => "checkbox", :value => "3"}/
          %label.form-check-label{:for => "inlineCheckbox3"} プレイステーション3
        .form-check.form-check-inline
          %input#inlineCheckbox4.form-check-input{:name => "tag_id[]", :type => "checkbox", :value => "4"}/
          %label.form-check-label{:for => "inlineCheckbox4"} プレイステーション4
        .form-check.form-check-inline
          %input#inlineCheckbox5.form-check-input{:name => "tag_id[]", :type => "checkbox", :value => "5"}/
          %label.form-check-label{:for => "inlineCheckbox5"} プレイステーション5
        .form-check.form-check-inline
          %input#inlineCheckbox6.form-check-input{:name => "tag_id[]", :type => "checkbox", :value => "6"}/
          %label.form-check-label{:for => "inlineCheckbox6"} Xbox
        .form-check.form-check-inline
          %input#inlineCheckbox7.form-check-input{:name => "tag_id[]", :type => "checkbox", :value => "7"}/
          %label.form-check-label{:for => "inlineCheckbox7"} Xbox 360
        .form-check.form-check-inline
          %input#inlineCheckbox8.form-check-input{:name => "tag_id[]", :type => "checkbox", :value => "8"}/
          %label.form-check-label{:for => "inlineCheckbox8"} Xbox One
        .form-check.form-check-inline
          %input#inlineCheckbox9.form-check-input{:name => "tag_id[]", :type => "checkbox", :value => "9"}/
          %label.form-check-label{:for => "inlineCheckbox9"} Xbox Serise
        .form-check.form-check-inline
          %input#inlineCheckbox10.form-check-input{:name => "tag_id[]", :type => "checkbox", :value => "10"}/
          %label.form-check-label{:for => "inlineCheckbox10"} ファミリーコンピューター
        .form-check.form-check-inline
          %input#inlineCheckbox11.form-check-input{:name => "tag_id[]", :type => "checkbox", :value => "11"}/
          %label.form-check-label{:for => "inlineCheckbox11"} スーパーファミコン
        .form-check.form-check-inline
          %input#inlineCheckbox12.form-check-input{:name => "tag_id[]", :type => "checkbox", :value => "12"}/
          %label.form-check-label{:for => "inlineCheckbox12"} NINTENDO64
        .form-check.form-check-inline
          %input#inlineCheckbox13.form-check-input{:name => "tag_id[]", :type => "checkbox", :value => "13"}/
          %label.form-check-label{:for => "inlineCheckbox13"} ゲームキューブ
        .form-check.form-check-inline
          %input#inlineCheckbox14.form-check-input{:name => "tag_id[]", :type => "checkbox", :value => "14"}/
          %label.form-check-label{:for => "inlineCheckbox14"} Wii
        .form-check.form-check-inline
          %input#inlineCheckbox15.form-check-input{:name => "tag_id[]", :type => "checkbox", :value => "15"}/
          %label.form-check-label{:for => "inlineCheckbox15"} Wii U
        .form-check.form-check-inline
          %input#inlineCheckbox16.form-check-input{:name => "tag_id[]", :type => "checkbox", :value => "16"}/
          %label.form-check-label{:for => "inlineCheckbox16"} NintendoSwitch
        .form-check.form-check-inline
          %input#inlineCheckbox17.form-check-input{:name => "tag_id[]", :type => "checkbox", :value => "17"}/
          %label.form-check-label{:for => "inlineCheckbox17"} ニンテンドーDS
        .form-check.form-check-inline
          %input#inlineCheckbox18.form-check-input{:name => "tag_id[]", :type => "checkbox", :value => "18"}/
          %label.form-check-label{:for => "inlineCheckbox18"} ニンテンドー３DS
        .form-check.form-check-inline
          %input#inlineCheckbox19.form-check-input{:name => "tag_id[]", :type => "checkbox", :value => "19"}/
          %label.form-check-label{:for => "inlineCheckbox19"} メガドライブ
        .form-check.form-check-inline
          %input#inlineCheckbox20.form-check-input{:name => "tag_id[]", :type => "checkbox", :value => "20"}/
          %label.form-check-label{:for => "inlineCheckbox20"} ワンダーメガ
        .form-check.form-check-inline
          %input#inlineCheckbox21.form-check-input{:name => "tag_id[]", :type => "checkbox", :value => "21"}/
          %label.form-check-label{:for => "inlineCheckbox21"} セガサターン
        .form-check.form-check-inline
          %input#inlineCheckbox22.form-check-input{:name => "tag_id[]", :type => "checkbox", :value => "22"}/
          %label.form-check-label{:for => "inlineCheckbox22"} ドリームキャスト
        .form-check.form-check-inline
          %input#inlineCheckbox23.form-check-input{:name => "tag_id[]", :type => "checkbox", :value => "23"}/
          %label.form-check-label{:for => "inlineCheckbox23"} PCエンジン
        .form-check.form-check-inline
          %input#inlineCheckbox24.form-check-input{:name => "tag_id[]", :type => "checkbox", :value => "24"}/
          %label.form-check-label{:for => "inlineCheckbox24"} ネオジオ
        .form-check.form-check-inline
          %input#inlineCheckbox25.form-check-input{:name => "tag_id[]", :type => "checkbox", :value => "25"}/
          %label.form-check-label{:for => "inlineCheckbox25"} ネオジオミニ
        .form-check.form-check-inline
          %input#inlineCheckbox26.form-check-input{:name => "tag_id[]", :type => "checkbox", :value => "26"}/
          %label.form-check-label{:for => "inlineCheckbox26"} ゲームボーイアドバンス
        .form-check.form-check-inline
          %input#inlineCheckbox27.form-check-input{:name => "tag_id", :type => "checkbox", :value => "27"}/
          %label.form-check-label{:for => "inlineCheckbox27"} ワンダースワン
        .form-check.form-check-inline
          %input#inlineCheckbox28.form-check-input{:name => "tag_id", :type => "checkbox", :value => "28"}/
          %label.form-check-label{:for => "inlineCheckbox28"} steam
      .form-group.row
        %label.col-sm-2.col-form-label.mt-3.mb-3{:for => "title"}
          %h3.title タイトル
        .col-sm-10
          %input#title.form-control.text-white.bg-dark.mt-3.mb-3{:name => "title", :placeholder => "タイトルを入力してください", :type => "text"}/
      .d-inline.p-2.bg-dark.text-white
        %label{:for => "text"}
          %h4 オススメポイント
      %textarea#text.form-control.text-white.bg-dark{:name => "text", :placeholder => "ネタバレ禁止！", :rows => "7", :type => "text"}
      %button.btn.btn-primary.border-white.my-1.bg-dark{:type => "submit"} 送信
